# Ignore build artifacts
*.exe
*.ilk
*.obj
*.pdb

# Ignore VSCode settings
.vscode/

# Ignore other temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore compiled output
/build/

# Ignore created html and md files
*.html
*.md